<!-- -------------------------------------------------------------------------------------------- --
    AsideSidebarMenuMain
---- ------------------------------------------------------------------------------------------- -->

<ul class="sidebar-menu">
    <li class="header">Principal</li>

    <!-- -------------------------------------------------------------------------------------------- --
        AsideSidebarMenuMainItens_01
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_AsideSidebarMenuMainItens_01.cshtml")
    
    <!-- -------------------------------------------------------------------------------------------- --
        AsideSidebarMenuMainItens_02
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_AsideSidebarMenuMainItens_02.cshtml")
    
    <!-- -------------------------------------------------------------------------------------------- --
        AsideSidebarMenuMainItens_03
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_AsideSidebarMenuMainItens_03.cshtml")
    
    <!-- -------------------------------------------------------------------------------------------- --
        AsideSidebarMenuMainItens_04
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_AsideSidebarMenuMainItens_04.cshtml")

    <!-- -------------------------------------------------------------------------------------------- --
        AsideSidebarMenuMainItens_05
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_AsideSidebarMenuMainItens_05.cshtml")


    <li class="header">Grm-AdmSiS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Notas de versão</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Ajuda</span></a></li>

</ul>

